@media (max-width: 375px){
    body .container {
        background: #f4f4f4;
        height: 100vh;
        padding: 1em;
    }
    body .container .header {
        width: 100%;
    }
    body .container .header .navLinks {
        display: none;
    }
    body .container .containerBody {
    grid-template-columns: none;
      grid-template-areas: "normal"
                            "svg";
      grid-gap: 2.5em;
    }
    body .container .containerBody .left {
  margin-top: 10em;
}
body .container .containerBody .left h1 {
  font-size: 1.5em;
}body .container .containerBody .left p {
  font-size: .9em;
}
.containerBody .left .lookUp {
    padding: .7em 1.5em !important;
    margin-right: .2em !important;
}.containerBody .left .post {
    padding: .7em 1.5em !important;
}
.catergorySection{
    background: #f0f0f0;
    padding: 5em 3em;
}
body .container .containerBody .left {
  margin-top: 2em;
}
.catergorySection .categories{
    display: grid;
    grid-template-areas: "gadgets"
    "accommodation"
    "events"
    "cloths"
    "services"
    "random";
    text-align: center;
    align-items: center;

}
.footer{
    padding: 5em;
    text-align: center;
}
.footer .footerSection{
    grid-template-areas: "about"
    "contact"
    "legal";
    grid-gap: 3em;
}
}